#profileBox
  .header
    height: 240px
    background-color: rgb(69, 73, 84)
    position: relative
    .edit
      position: absolute
      right: 8px
      top: 4px
      font-size: 18px
      color: #333
      opacity: 0
      cursor: pointer
      .fa-times
        display: none
      .fa-gear
        display: block
    &:hover .edit
      opacity: 1
      &:hover
        transition: color 0.05s linear
        -webkit-transition: color 0.05s linear
        color: #ddd
    & > .row
      height: 240px
    .image
      margin: 0 auto
      width: 128px
      height: 128px
      border-radius: 50%
      border: solid 4px rgb(27, 32, 38)
      position: relative
      & img
        width: 100%
        border-radius: 50%
      & .mask
        width: 100%
        height: 100%
        top: 0
        left: 0
        position: absolute
        background-color: rgba(0,0,0,0.6)
        border-radius: 50%
        display: none
        & .fa-camera
          color: white
          font-size: 32px
          opacity: 0.6

    .content
      position: relative
      color: #ddd
      font-size: 10px
      width: 100%
      padding-top: 8px
      padding-bottom: 0px
      margin: 0 auto
      box-sizing: border-box
      height: 40px
      .bio
        text-align: center
        display: block
        width: 240px
        height: 100%
        white-space: pre-wrap
      textarea
        height: 100%
        text-align: center
        width: 240px
        display: none
        padding: 0
        margin: 0px
        border: none
        font-size: 10px
        background-color: rgba(0,0,0,0.2)
        resize: none
        outline: none
        color: #ddd
        height: 60px
  &.edit
    .header
      .edit
        .fa-times
          display: block
        .fa-gear
          display: none
      .mask
        display: block
        cursor: pointer
      .content
        .bio
          display: none
        textarea
          display: block
  .footer
    color: white
    background-color: rgb(34, 37, 43)
    .data
      position: relative
      padding: 8px
      &:after
        position: absolute
        content: ""
        width: 100%
        top: 0px
        left: 0px
        height: 4px
      &.posts:after
        background-color: rgb(38, 123, 162)
      &.follows
        border-right: 2px solid #111
        border-left: 2px solid #111
        &:after
          background-color: rgb(104, 143, 16)
      &.followers:after
        background-color: rgb(163, 60, 24)
      .name
        color: #ddd
        text-align: center
      .value
        text-align: center
.dashboard.index
  overflow: hidden
  background-color: #eee
  aside.sidebar
    width: 250px
    height: 100%
    background-color: #3E3D46
    box-shadow: -5px 0px 4px 0px #353232 inset
    display: inline-block
    position: absolute
    left: 0px
    .user
      overflow: hidden
      height: 140px
      .avatar
        width: 60px
        height: 60px
        position: relative
        display: inline-block
        border-radius: 8px
    ul
      list-style: none
      padding: 0px
      margin: 0px
      li
        position: relative
        border-bottom: 1px solid #666
        border-top: 1px solid #222
        cursor: pointer
        font-size: 32px
        text-align: center
        & > a
          color: #999
          padding: 16px 12px
          display: block
          width: 100%
          height: 100%
          box-sizing: border-box
          &:after
            top: 0px
            right: 0px
            position: absolute
            display: block
            content: ""
            width: 0px
            height: 100%
            -webkit-transition: all 0.2s linear
            transition: all 0.2s linear
          &:hover
            color: white
            &:after
              width: 4px
              background-color: #39AD2F
          &.active
            color: white
            &:after
              width: 3px
              background-color: #219E90
  & > section
    position: absolute
    height: 100%
    left: 250px
    right: 0px
    display: inline-block
    &:before, &:after
      display: table
      content: ""
    header
      position: absolute
      right: 0
      left: 0
      background-color: #1e1e29
      width: 100%
      .wadachi
        display: inline-block
        bottom: 0px
        border-top: 1px solid #222
        padding: 8px 16px
        box-sizing: border-box
        .logo
          display: inline-block
          height: 20px
          width: 20px
          box-sizing: border-box
          vertical-align: middle
          .img
            background-image: url("logo_white.png")
            background-size: cover
            background-position: center
            width: 100%
            height: 100%
            opacity: 0.9
        .name
          padding: 0px 8px
          display: inline-block
          vertical-align: middle
          color: #ddd
          font-size: 14px
    .main
      background-color: rgb(244,244,244)
      position: absolute
      top: 42px
      bottom: 0px
      right: 0px
      left: 0px
      section#posts
        padding-top: 16px
        box-sizing: border-box
        margin: 0 auto
        article.frame.post
          padding: 16px
          .avatar
            display: inline-block
            vertical-align: top
            width: 80px
            height: 80px
          .content
            display: inline-block

